<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="debtcalc.css" />
    <script type="text/javascript" src="#CANDF#data.js"> </script>
    <script type="text/javascript" src="debtcalc.js"> </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>#CANDT# Debt Control Calculator</title>
  </head>
  <body>
    <div id="main_content">
      <h1>#CANDT# Debt Control Calculator</h1>
      <div id="left_panel">
	<div id="settings" class="topLevel">
	  <h2>Debt Target</h2>
	  <h4>(% GDP in 2026)</h4>
	  <form id="target_select" action="javascript:void(0);">
	    <label><input type="radio" name="target" value="stabilize" checked="checked"/>
	      Stabilize the Debt - 75%</label><br/>
	    <label><input type="radio" name="target" value="balance"/>
	      Balance the Budget - 58%</label><br/>
	    <label><input type="radio" name="target" value="custom"/>
	      Choose My Own - <input type="text" class="inputField" id="custom_target" value="67"/>%</label><br/>
	    <label><input type="radio" name="target" value="free"/>
	      No Target</label>
	  </form>
	</div>
	<div id="slider_area" class="topLevel">
	  <div class="slideContainer">
	    <h4>Cut Spending</h4>
	    <h5>Excluding...</h5>
	    <div class="selector">
	      <div class="input exclude" id="soc_sec_container">
		<input type="checkbox" name="soc_sec_exlude" id="soc_sec_exclude"/>
		<label for="soc_sec_exclude">Social Security</label>
	      </div>
	      <div class="input exclude" id="medicare_container">
		<input type="checkbox" name="medicare_exlude" id="medicare_exclude"/>
		<label for="medicare_exclude">Medicare</label>
	      </div>
	      <div class="inFieldContainer">
		<span>by <input type="text" id="spending_in" class="inputField" value="0"/> percent</span>
	      </div>
	    </div>
	    <p>100%</p>
	    <div id="spending_slider" class="inputSlider"> </div>
	    <p>0%</p>
	    <h5>(% non-excluded)</h5>
	  </div>
	  <div class="slideContainer">
	    <h4>Increase Taxes</h4>
	    <h5>For...</h5>
	    <div class="selector">
	      <form id="tax_select" action="javascripts:void(0);">
		<label>
		  <input type="radio" name="tax_type" value="all" checked="checked"/>
		  All</label><br/>
		<label>
		  <input type="radio" name="tax_type" value="high"/>
		  High Earners
		</label>
	      </form>
	      <div class="inFieldContainer">
		<span>by <input type="text" id="tax_in" class="inputField" value="0"/> points</span>
	      </div>
	    </div>
	    <p>65%</p>
	    <div id="tax_slider" class="inputSlider"> </div>
	    <p>44%</p>
	    <h5>(top marginal rate)</h5>
	  </div>
	</div>
	<div id="reset_area" class="topLevel">
	  <input type="button" id="reset_button" value="Reset"/>
	</div>
      </div>
      <div id="right_panel">
	<div id="chart_area">
	  <h2>Ten Year Debt Projection</h2>
	  <div id="#CANDF#_background">
	    <div id="series_area"> </div>
	  </div>
	  <p id="chart_caption">Note: Due to rounding, results may not match targets exactly.</p>
	</div>
	<div id="results_area" class="topLevel">
	  <h2>Results</h2>
	  <p>Spending cuts (% non-exempt spending)
	    <span class="score" id="spend_score"></span></p>
	  <p>Top marginal tax rate (+<span id="tax_up"></span> points)
	    <span class="score" id="tax_score"></span></p><br/>
	  <p>Debt held by public in 2026 (% GDP)
	    <span class="score" id="debt_score"></span></p>
	</div>
      </div>
    </div>
  </body>
</html>
