#main_content {
    width: 720px;
    height: 680px;
    background-color: lightblue;
    padding: 10px;
}

#main_content h1 {
    margin: 0px;
    padding: 0px;
}

#left_panel {
    float: left;
    width: 220px;
}

#left_panel h3,h4,h5 {
    margin: 0px;
    padding: 0px;
} 

#settings input,select {
    float: right;
}

#left_panel p {
    margin: 0px;
    padding: 5px;
}

#left_panel #score {
    font-weight: bold;
}

#slider_area {
    margin-top: 10px;
    height: 360px;
}

.slideContainer {
    position: relative;
    float: left;
    text-align: center;
    width: 110px;
}

.inputSlider {
    width: 10px;
    margin: 0 auto;
    height: 230px;
}

.inputField {
    width: 30px;
    margin: 0 auto;
    text-align: right;
}

#reset_area {
    padding-top: 5px;
    text-align: center;
}

#chart_area {
    float: left;
}

#series_area {
    height: 310px;
    width: 480px;
    margin: 10px;
}

#end_area {
    height: 310px;
    width: 480px;
    margin: 10px;
}