#main_content {
    margin: auto;
    width: 730px;
    height: 660px;
    background-color: #00548A;
    padding: 10px;
}

#main_content h1,h2,h3,h4,h5 {
    margin: 0px;
    padding: 0px;
    font-style: italic;
}

#main_content h1 {
    color: white;
    padding: 5px 0px;
    text-align: center;
}

#left_panel {
    float: left;
    width: 220px;
    padding: 10px;
    background-color: white;
}

#main_content p {
    margin: 0px;
    padding: 0px;
}

#left_panel .topLevel {
    margin-bottom: 10px;
}

#settings input,select {
    float: right;
    margin: 0px;
}

#settings #custom_target {
    float: none;
    width: 25px;
    text-align: right;
}

#slider_area {
    height: 340px;
}

.slideContainer {
    position: relative;
    float: left;
    text-align: center;
    width: 110px;
}

.inputSlider {
    width: 10px;
    margin: 0 auto;
    height: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ui-slider .ui-slider-handle {
    background: #00548A;
}

.inputField {
    width: 30px;
    margin: 0 auto;
    text-align: right;
}

#reset_area {
    text-align: center;
    margin-bottom: 0px !important;
}

#right_panel {
    margin-left: 10px;
    float: left;
    text-align: right;
}

#right_panel h2 {
    margin-top: 10px;
    text-align: center;
}

#chart_area {
    background-color: white;
}

#series_area {
    height: 300px;
    width: 480px;
}

#chart_caption {
    font-size: 11pt;
    font-style: italic;
    text-align: left;
}

#results_area {
    padding: 25px;
    padding-top: 10px;
    margin: 40px;
    margin-top: 55px;
    background-color: white;
}

#results_area h3 {
    text-align: center;
    padding: 5px 0px;
}

#results_area p {
    text-align: left;
}

#results_area .score {
    font-weight: bold;
    float: right;
}
