body {
    font-family: 'PT Serif', serif;
    font-size: 12pt;
    font-weight: 400;
    margin: auto;
    width: 740px;
    height: 695px;
    padding: 5px;
    background-color: #131543;
}

h1,h2,h3,h4,h5 {
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

h1 {
    color: white;
    font-size: 25pt;
    margin: 5px;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 14pt;
}

h4 {
    font-size: 12pt;
}

h5 {
    font-size: 10pt;
}

#left_panel {
    float: left;
    width: 290px;
    height: 600px;
    padding: 5px;
    background-color: white;
    text-align: left;
}

#left_panel input,select {
    margin: 0px;
}

#settings {
    padding: 0px 30px;
}

label .rightJustified {
    float: right;
}

#custom_target {
    width: 25px;
}

.slideContainer {
    position: relative;
    float: left;
    text-align: center;
    width: 125px;
    padding: 5px;
    background-color: #e0e0e0;
    border: 5px solid white;
}

.inputField {
    float: none !important;
    width: 35px;
    text-align: right;
    padding-right: 5px;
}

.sliderBound {
    margin: 0px;
    padding: 0px;
}

.selector {
    text-align: left;
}

.inputSlider {
    width: 10px;
    margin: 0 auto;
    height: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ui-slider .ui-slider-handle {
    background: #047390;
    color: #ffffff;
    font-size: 12pt;
    text-align: center;
    width: 40px;
    height: 22px;
    line-height: 22px;
    margin-left: -11px;
    font-family: 'PT Serif', serif;
}

.sliderLabel {
    font-size: 8pt;
    font-weight: 700;
}

#reset_area {
    text-align: center;
}

#reset_button {
    margin: 5px !important;
}

#right_panel {
    padding-left: 10px;
    float: left;
    background: #656565;
    height: 610px;
}

.chartContainer {
    background-color: white;
    padding: 5px 0px 3px 0px;
}

#series_container {
    margin-bottom: 10px;
}

.chartBackground {
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}

#trump_background {
    background: url('t-chart-image.png');
}

#clinton_background {
    background: url('c-chart-image.png');
}

#pie_background {
    background: url('p-chart-image.png');
}

#series_area {
    height: 280px;
    width: 430px;
}

#pie_area {
    height: 240px;
    width: 430px;
}